.card{
    max-width: 80vw;
    width: 350px;
    /* height: 450px; */
    cursor: pointer;
    position: relative;
    transition: .25s;
}

.card:hover{
    transform: scale(1.05);
}

.card *{
    color: black;
}

.thumbnail_img{
    width: 100%;
    height: 12em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.edit{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    width: 2em;
    padding-left: .1em;
    background-color: #88773A;
    transform: translate(100%, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
}

.edit:hover{
    width: 2.5em;
}

.edit img, .delete img{
    height: 1.5em;
    width: 1.5em;
    
}

.delete_container{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2em;
    width: 2em;
    background-color: #ffffff;
    transform: translate(100%,0); 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .3s;
}

.delete_cover{
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5F2525;
    z-index: 1;
}


.delete{
    height: 100%;
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;
    font-size: .8em;
    color: #5F2525;
    transition: .3s;
    background-color: white;

    visibility: hidden;
    opacity: 0;
    right: 0;
    bottom: 0;

    padding: 0.3em;
}

/* .delete_container:hover{
    width: 6em;
} */

.delete_container:hover > .delete{
    transform: translate(0,100%); 
    visibility: visible;
    opacity: 100;
    
}

.delete:hover{
    background-color: #624d4d;
    color: white;
}


.description_container{
    background-color: #FAF6EE;
    padding: .75em;
    position: relative;
    height: 10em;
}

.content_box{
    border: 1px #88773A solid;
    height: 100%;
    padding: .5em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title p{
    height: 2em;
}

.content_box h1{
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1em;
}

.content_box p{
    font-family: 'EB Garamond', serif;
    font-weight: normal;
    line-height: 1em;
    margin: .5em 0;
    color: rgb(114, 114, 114);
}

.desc_bot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.time{
    display: flex;
    align-items: center;
}

.time p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .85em;
    margin: 0;
    color: #727272;
}

.time img{
    padding-right: .5em;
}

.difficulty{
    display: flex;
    align-items: center;
}
.difficulty p, .difficulty b{
    font-family: trajan, trajan-pro-3, Garamond;
    font-size: 1em;
    margin-right: .5em;
    
    color: #88773A;
}

.tag{
    position: absolute;
    font-family: 'EB Garamond', serif;
    font-size: .85em;
    color: #B8992A;
    top: 0;
    left: 50%;
    margin-top: .75em;
    transform: translate(-50%, -50%);
    padding: 0 1.5em;
    background-color: #FAF6EE;
}

#create{
    border: 1px white solid;
    background-color: rgba(0, 0, 0, 0.2);
}

#create .thumbnail_img{
    background-size: 25%;
    background-position: center;
   
}

#create .description_container{
    background-color: transparent;
}

#create .description_container h1{
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 1.75em;
    margin: .5em 0 1em 0;
}

@media screen and (min-width:720px){
    .delete{
        right: auto;
        left: 0;
    }

    .delete_container:hover > .delete{
        transform: translate(2.5em,0); 
        visibility: visible;
        opacity: 100;
    }
}