#header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    margin: 7vh 0 4vh 0;
}

#saved_recipe{
    margin-left: 5vw;
    cursor: pointer;
    opacity: 90%;
    transition: .15s;
}

#saved_recipe:hover{
    opacity: 100%;
    transform: scale(1.05);
}

#saved_recipe:active{
    opacity: 60%;
}

#header_title{
    display: flex;
    flex-flow: column;
    padding: 1rem;
}

#header_title a{
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

#header_title_deco{
    background-image: url(../img/header_deco.svg);
    width: 100%;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#rightbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4vw;
}

#search_bar{
    margin-right: 2vw;
    position: relative;
}

#search_input{
    height: 1.75rem;
    width: 13em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: .2rem .75rem;
    color: white;
}

#magnifier{
    position: absolute;
    height: 1.4rem;
    right: 0;
    margin: .2em .4em;
    cursor: pointer;
    opacity: 80%;
    transition: .2s;
}

#magnifier:hover{
    opacity: 100%;
}

#magnifier:active{
    opacity: 70%;
}

#user_icon{
    opacity: 85%;
    transition: .25s;
    cursor: pointer;
}

#user_icon:hover{
    opacity: 100%;
}

#user_icon:active{
    opacity: 75%;
}

@media screen and (max-width: 800px) {
    #header{
        position: -webkit-sticky;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr .3fr;
        grid-template-areas: 
        "t t t"
        "s p r";
        grid-gap: 0;
        margin: 1rem;
    }

    #header_title{
        grid-area: t;
    }

    #saved_recipe{
        grid-area: s;
    }

    #rightbar{
        grid-area: r;
    }
    
}